
.vagrant/machines/cos7/virtualbox/synced_folders
.vagrant/machines/cos7/virtualbox/vagrant_cwd
.vagrant/machines/cos7/virtualbox/private_key
.vagrant/machines/cos7/virtualbox/index_uuid
.vagrant/machines/cos7/virtualbox/id
.vagrant/machines/cos7/virtualbox/creator_uid
.vagrant/machines/cos7/virtualbox/action_set_name
.vagrant/machines/cos7/virtualbox/action_provision
